table{
    width: 100%;
    color: #49597D;
    display: block;
    td, th{
        text-align: left;
        width: 250px;
    }
    thead{
        width: 100%; 
        display: block;
    }
    thead tr{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f8f8f8;
        height: 60px;
        border-radius: 15px; 
        padding: 0 20px;
    }
    thead th{
        font-size: 16px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    thead th.id{
        width: 100px;
    }
    tbody{
        display: block;
        margin-top: 20px;
        height: 480px;
        overflow-y: scroll;
    }
    tbody  tr{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        height: 80px;
        width: 100%;
        padding: 0 20px;
    }
    tbody  tr:hover{
        background-color: #f3f3f3;
    }
    tbody td{
        display: flex;
        align-items: center;
        height: 100%;
        font-weight: 600;
        position: relative;
    }
    .Active, .Delivering,
    .Completed{
        color: #13C725;
    }
    .Inactive, .Cancelled{
        color: #FF5959;
    }
    .Pickup, .Progress{
        color: #2E5BFF;
    }
    .Offline{
        color: #000;
    }
}

//badge styling    
span.Active,
span.Delivering,
span.Pickup{
    background-color: #4ECD5B;
    position: absolute;
    left: 40px;
    bottom: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    opacity: 1;
}
.customerImg,
.driverImg{
width: 60px;
height: 60px;
border-radius: 50%;
object-fit: cover;
margin-right: 10px;
border: 1px solid #0251E1;
}
